#demos {
    position: absolute;
    bottom: 50px;
    right: 5px;
    border-radius: 5px;
    color: var(--white);

  }
  
#demos > select {
    padding: 10px 20px;
    background: black;
    border: none;
    border-bottom: 3px solid grey;
    border-radius: 5px;
    color: var(--white);
}

#demos > button {
    padding: 10px 15px;
    background: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    border-bottom: 3px solid grey;
}

#demos > select + button {
    margin-left: 10px;
}