#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--darkgrey);
  }

h2 {
    margin: 0;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    color: #efefef;
}


button#submit { 
  text-align: center;
  padding: 10px 25px; 
  cursor: pointer;
  color: #efefff;
  background-color: black;
  font-family: monospace;
  text-transform: uppercase;
  border: 1px solid white;
}

button#submit:disabled {
  background-color: #000a;
  color: #575757;
  cursor: wait;
  border: 1px solid grey;
}

.fullscreen-class {
  height: 100%;
}