#root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

h2 {
    margin: 0;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    color: #efefef;
}


#demos {
  position: absolute;
  top: 20px;
  left: 450px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

#demos > select {
  font-size: 32px;
  background: black;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;

}

button#submit { 
  text-align: center;
  padding: 10px 25px; 
  cursor: pointer;
  color: #efefff;
  background-color: black;
  font-family: monospace;
  text-transform: uppercase;
  border: 1px solid white;
}

button#submit:disabled {
  background-color: #000a;
  color: #575757;
  cursor: wait;
  border: 1px solid grey;
}
