#details .details-tab--content {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    height: 100%;
}

#details .details-field-cols {
    flex: none;
    height: 100%;
    width: 50%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

#details .details-field {
    flex: 0 1 auto;
    border: 1px solid black;
    width: 100%;
}

#details .details-field--body {
    overflow: auto;
    width: 100%;
}

#details .details-field .katex-display > .katex {
    text-align: left;
    padding: 0 0px 0 12px;
}

#details label {
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
    padding: 5px 10px;
}

#details .info {
    display: inline-block;
    position: relative;
}

#details .info >.info--body:not(.visible) {
    display: none;
}

#details .info > .info--body.visible {
    position: absolute;
    background: grey;
    color: #efefef;
    border: 1px solid #efefef;
    border-radius: 5px;
    top: 0;
    left: calc(100% + 10px);
    padding: 5px 10px;
    font-size: 12px;
    width: 200px
}
