#help {
    padding: 20px 20px 80px 20px;
    overflow-y: auto;
    height: 100%;
}

.button-group > button {
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.button-group > button + button {
    margin-left: 20px;
}

.step-counter {
    position: absolute;
    top: 15px;
    right: 15px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}