:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white: #efefef;
  --darkgrey: #1d1d1d;
  color: var(--white);
  background-color: var(--darkgrey);

}

html, body {
  height: 100%;
  margin: 0
}

* {
  box-sizing: border-box;
}
