.label-container {
    display: inline-block;
    line-height: 0.9em;
    color: rgba(0,0,0, 0.8);
    background: #efefef;
    font-size: 18px;
    font-family: arial;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0, 0.8);
    border-radius: 0px;
    margin: 5px 5px;
    vertical-align: bottom;
}

.label-container .katex {
    font-size: 16px;
}