#results {
    width: 100%;
    display: flex;
    height: calc(100vh - 110px);
}

#results .results-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#results .qubit-result {
    display: inline-block;
    border: 1px solid black;
    min-width: 50%; 
    min-height: 50%;
    flex-grow: 1;
}

#results .time-slider {
    height: 60px;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.result-container > * {
    flex: none;
}

.result-container .katex {
    font-size: 15px;
}

.results-placeholder {
    font-size: 15px;
    color: grey;
    padding: 20px 40px;
    margin: auto;
    background-color: lightgray;
    border-radius: 5px;
}